.top-bar {
  background-color: black;
  color: gold;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 60px;
}

.logout {
  position: fixed;
  cursor: pointer;
  top: 15px;
  right: 20px;
}

.ico-logout {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("/static/icons/logout.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.settingsBtn {
  position: fixed;
  border: none;
  background: transparent;
  cursor: pointer;
  top: 12.5px;
  right: 70px;
}

.ico-settings {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("/static/icons/settings.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.ico-sql {
  width: 24px;
  height: 24px;
}

.addBtn {
  position: absolute;
  top: 65px;
  left: 5px;
  background-color: transparent;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-color: green;
  border-style: solid;

  &:hover {
    border-color: greenyellow;
  }
}

.ico-plus {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("/static/icons/plus.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
