.login {
  position: absolute;
  display: block;
  background-color: black;
  padding: 10px 25px;
  width: 400px;
  height: 200px;
  top: calc(50% - 100px);
  left: calc(50% - 200px);
  border-radius: 10px;
  align-items: center;
}

h1 {
  color: gold;
}

label {
  color: gold;
}

input {
  position: absolute;
  background-color: white;
  width: 225px;
  left: 100px;
  height: 20px;
  border: none;
  border-radius: 10px;
}

.username {
  position: absolute;
  display: block;
  top: 65px;
  left: 25px;

  & input {
    text-indent: 10px;
    font-size: 16px;
  }
}

.password {
  position: absolute;
  display: block;
  top: 105px;
  left: 25px;
  width: 350px;
  
  & input {
    text-indent: 10px;
    font-size: 24px;
  }
}

.login-btn {
  position: absolute;
  border-radius: 5px;
  bottom: 20px;
  left: 125px;
  height: 35px;
  font-size: 18px;
  background-color: gold;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darkslategrey;
    color: gold;
  }

  &:focus {
    outline: none;
  }
}

.ico-sql {
  width: 24px;
  height: 24px;
}
